<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.admin.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHomeController</servlet-name>
        <servlet-class>controller.admin.AdminHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PRO</servlet-name>
        <servlet-class>controller.admin.ProductsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>controller.admin.CategoryController</servlet-class>
    </servlet>   
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>controller.admin.CategoryController</servlet-class>
    </servlet>   
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>controller.admin.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>controller.admin.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.admin.LoginController</servlet-class>
    </servlet>
    
    
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>controller.admin.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.admin.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryController</servlet-name>
        <servlet-class>controller.admin.AddCategoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHomeController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PRO</servlet-name>
        <url-pattern>/admin/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/admin/categories</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/CategoryController</url-pattern>
    </servlet-mapping>
   
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/admin/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/admin/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoryController</servlet-name>
        <url-pattern>/admin/categories/create</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>    -
    <context-param> 
        <description>Location to store uploaded file</description> 
        <param-name>file-upload</param-name> 
        <param-value>
            C:\Users\Mohit\Documents\NetBeansProjects\MyShop\web\images\category
        </param-value> 
    </context-param>
</web-app>
